* {box-sizing: border-box;}
* {margin:0;padding:0;}

body {
  background-color: #092551;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;	
}

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: #ffffff;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 60px;
}

.buttons-area {
  background-color: blue;
  color: blue;
  padding: 5px 5px;
}

.form label {
  color: white;
}

.new-gif {
  padding: 10px 10px;
  font-size: 20px;
}

.main-area img{
  display: inline-block;
  margin-left: 30%;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #222222;
  box-shadow: 12px 12px 8px #000000;
}

.main-area p {
  margin-left: 45%;
  margin-top: 2%;
  color: red;
  font-size: 30px;
  font-family: 'Baloo Bhaijaan', cursive;
}

footer {
    background-color: blue;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: #ffffff;
    clear: both;
}

@media screen and (max-width: 980px) {
   body {
    background: #30c14f;
   }
    .container {
        width: 970px;
    }
}

@media screen and (max-width: 768px) {
   .container {
    width: 768px;
   }
   body {
    background: #30c14f;
   }
}

@media screen and (max-width: 640px) {
   .container {
    width: 768px;
   }
   body {
    background: #30c14f;
   }
}
